*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    --primary-text-dark: hsl(238, 29%, 16%);
    --primary-text-hover:hsl(14, 88%, 65%);
    --neutral-text-dark: hsl(237, 12%, 33%);
    --neutral-text-gray: hsl(240, 6%, 50%);
    --divider:hsl(240, 5%, 91%);

}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background: rgb(101,101,231);
    background: linear-gradient(173deg, rgb(175, 103, 233) 0%, rgba(101,101,231,1) 100%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    flex-direction: column;
}

h1{
    color:var(--primary-text-dark);
}

.card{
    width: 85vw;
    min-height: 60vh;
    background-color: white;
    border-radius: 18px;
    padding: 10px;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h1{
    display: flex;
    justify-content: center;
    margin-top: 50px
}

.hero-image{
    margin-top:-15vh;
}
.hero-background{
    margin-top: -13vh;
    margin-left: 30px;
}

.card-acording{
    display: none;
    color:var(--neutral-text-gray)
}

.tittle-active{
    font-weight:700;
}

.active{
    display: block;
    margin-top: 5px;
}

.active-Arrow{
    transform: rotate(180deg);
}

.card-tittle{
    padding: 3px;
    text-align: left;
    padding: 1rem;
    width: 95%;
    border-bottom: 1px solid var(--divider);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}

.card-tittle-text{
    width: 95%;
    color:var(--neutral-text-dark);
}

.card-tittle-arrow{
    width: 5%;
    height: 8px;
    margin-right: -10px

}

p{
    text-align: left;
}